<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>写真を撮影するためにカメラへのアクセスが必要です。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>撮影した写真を保存するためにフォトライブラリへのアクセスが必要です。</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>black</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
